.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected  {
  color: #F43445 !important;
  border-bottom: none !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
  color: #F43445 !important;
  border-bottom: 2px solid #F43445 !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  margin-top: -5px !important;
  font-family: 'montserrat';
  font-size: 16px;
  vertical-align: top;
  top: 7px !important;
  color: #808080;
  border-bottom: none !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected a  {
  color: inherit !important;
  border-bottom: none !important;
}
.ant-menu-horizontal > .ant-menu-item a {
  color: inherit !important;
  border-bottom: none !important;
}